html * {
  box-sizing: border-box;
  font-family: 'Lucida Grande', 'Trebuchet MS', sans-serif;
}

.container {
  width: 70%;
  max-width: 1100px;
  margin: auto;
}

.gradient {
  background: rgba(5,213,255,1);
  background: -moz-linear-gradient(-45deg, rgba(5,213,255,1) 0%, rgba(0,126,229,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(5,213,255,1)), color-stop(100%, rgba(0,126,229,1)));
  background: -webkit-linear-gradient(-45deg, rgba(5,213,255,1) 0%, rgba(0,126,229,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(5,213,255,1) 0%, rgba(0,126,229,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(5,213,255,1) 0%, rgba(0,126,229,1) 100%);
  background: linear-gradient(135deg, rgba(5,213,255,1) 0%, rgba(0,126,229,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05d5ff', endColorstr='#007ee5', GradientType=1 );
}

body {
  margin: 0;
  padding: 0;
  color: #666;
  background-color: white;
  background-image: url('../images/bg.svg');
  background-repeat: no-repeat;
  background-size: 100%;
}

header {
  position: relative;
  min-height: 20vh;
  width: 100%;
}

header img.brand {
  width: 100%;
  margin-top: 1rem;
}

header .menu {
  margin-top: 1rem;
  text-align: right;
}

header .menu,
header .menu a {
  color: #eee;
  line-height: 30px;
}

header .menu a {
  text-decoration: none;
  display: inline-block;
  margin-left: 2rem;
  margin-right: 2rem;
  border-bottom: 2px solid transparent;
}

header .menu a:hover {
  color: white;
  border-bottom: 2px solid white;
}

.usp {
  font-weight: 100;
  margin-top: 15%;
  color: white;
}

.usp h1 {
  font-weight: 100;
}

.usp span {
  display: block;
}

.ethereum-wallet-id {
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 5%;
  border: 1px solid #4890e2;
  background-color: #4890e2;
  font-size: 2rem;
  line-height: 2.6rem;
  border-radius: 6px;
}

.ethereum-wallet-id:hover {
  border: 1px solid white;
  box-shadow: 0 0 10px white;
  cursor: pointer;
}

.ethereum-automte {
  /* logo container */
  padding: 2rem;
  text-align: center;
}

.ethereum-automte img {
  width: 60%;
}

.conversion-rate {
  margin-top: 2rem;
  color: #eee;
}

.help-link {
  width: 50%;
  margin: auto;
}

.help-link a {
  width: 100%;
  display: inline-block;
  padding: 1rem;
  margin-top: 4rem;
  color: silver;
  font-size: 2rem;
  text-align: center;
  border: 1px solid silver;
  border-radius: 6px;
  text-decoration: none;
}

.help-link a:hover {
  color: #4890e2;
  border-color: #4890e2;
  box-shadow: 0 0 16px #4890e2;
}
