html * {
  box-sizing: border-box;
  font-family: Lato, sans-serif;
}

.container {
  width: 70%;
  max-width: 1100px;
  margin: auto;
}

.gradient,
.gradient:hover {
  background: rgba(5,213,255,1);
  background:    -moz-linear-gradient(-45deg, rgba(5,213,255,1) 0%, rgba(0,126,229,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(5,213,255,1)), color-stop(100%, rgba(0,126,229,1)));
  background: -webkit-linear-gradient(-45deg, rgba(5,213,255,1) 0%, rgba(0,126,229,1) 100%);
  background:      -o-linear-gradient(-45deg, rgba(5,213,255,1) 0%, rgba(0,126,229,1) 100%);
  background:     -ms-linear-gradient(-45deg, rgba(5,213,255,1) 0%, rgba(0,126,229,1) 100%);
  background:         linear-gradient(135deg, rgba(5,213,255,1) 0%, rgba(0,126,229,1) 100%);

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05d5ff', endColorstr='#007ee5', GradientType=1 );
}

.gradient:hover {
  box-shadow: 0 3px 2px rgba(0,0,0,.1);
}

body {
  margin: 0;
  padding: 0;
  color: #666;
  background-color: white;
  background-image: url("../images/bg.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

a {
  text-decoration: none;
  color: #007ee5;
}

a:hover {
  color: #004ea5;
}

.view-active-trade-button,
.view-active-trade-button:hover {
  color: white;
}

header {
  position: relative;
  width: 100%;
  min-height: 80px;
}

header img.brand {
  width: 100%;
  margin-top: 1rem;
}

.menu {
  margin-top: 1rem;
  text-align: right;
}

.menu,
.menu a {
  line-height: 30px;
  color: #eee;
}

.menu a {
  display: inline-block;
  margin-right: 2rem;
  margin-left: 2rem;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

.menu a:hover {
  color: white;
  border-bottom: 2px solid white;
}

.menu .brand a:hover {
  border-bottom: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 200;
}

.usp {
  margin-top: 120px;
  font-weight: 100;
  color: white;
}

.usp h1 {
  font-weight: 100;
}

.usp span {
  display: block;
}

.ethereum-wallet-id {
  width: 100%;
  padding: .2rem;
  font-size: .8rem;
  line-height: 2.6rem;
  text-align: center;
  color: white;
  border: 1px solid #05d5ff;
  border-radius: 6px;
}

.ethereum-wallet-id:hover {
  cursor: pointer;
  border: 1px solid #007ee5;
  box-shadow: 0 0 10px white;
}

.check-mark {
  display: block;
  width: 20px;
  margin: auto;
  margin-top: .5rem;
}

.ethereum-automte {
  position: relative;
  height: 100%;
  min-height: 22rem;
  padding: 1px 1rem; /*prevent margin collapse with 1px padding on top*/
  background-color: white;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.ethereum-automte h3 {
  font-weight: 100;
}

.ethereum-automte span.switcher {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  display: block;
  font-size: .7rem;
}

.ethereum-automte a {
  text-decoration: none;
  color: #007ee5;
}

.ethereum-automte a:hover {
  color: #004ea5;
}

.ethereum-automte .metamask,
.ethereum-automte .signup-form,
.spaced-button {
  margin-top: 1rem;
}

.ethereum-automte .signup-form input,
.ethereum-automte .signup-form select {
  width: 100%;
}

.ethereum-automte footer {
  margin-top: 1rem;
  font-size: .8rem;
  line-height: 35px;
}

.conversion-rate {
  margin-top: 2rem;
  color: #eee;
}

.help-link {
  width: 50%;
  margin: auto;
}

.help-link a {
  display: inline-block;
  width: 100%;
  margin-top: 4rem;
  padding: 1rem;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  color: silver;
  border: 1px solid silver;
  border-radius: 6px;
}

.help-link a:hover {
  color: #4890e2;
  border-color: #4890e2;
  box-shadow: 0 0 16px #4890e2;
}

footer.page-footer {
  margin-bottom: 1rem;
  font-size: smaller;
}

.copyright {
  color: #ddd;
}

/* button customizations */
button {
  padding: .5em 1em;
  color: white;
  border: none;
  border-radius: 2px;
  background-color: #2196f3;
}

button.right {
  float: right;
}

main[role="main"] section.home {
  margin-bottom: 10rem;
}

.dashboard,
.activeTrade {
  min-height: 30rem;
  margin-bottom: 0;
}

.tab-listing {
  margin-top: 1rem;
}
.tab-listing table {
  width: 100%;
}

.tab-listing table * {
  font-size: small;
}

.more-button {
  display: block;
  min-width: 8rem;
  margin: 1rem auto;
}

.create-ad-button {
  float: right;
  margin-top: 1rem;
}

p.lead {
  font-size: larger;
  font-weight: lighter;
}

.panel {
  font-size: smaller;
}

.icon {
  /* temporary class used for icon tags just as a
  dev note to include an icon font and use appropriate
  icons at these places in html */
  display: none;
  font-size: 0;
}

.greenDot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #8bc34a;
}

.blackDot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #666;
}

/*form elements*/

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

input {
  width: 16rem;
  padding: 3px 0;
  text-indent: .25rem;
  border: 1px solid #4c92c2;
}

input[type="radio"] {
  width: inherit;
}

input::placeholder,
textarea::placeholder {
  font-size: .75rem;
  font-style: italic;
  color: #9b9b9b;
}

textarea {
  border: 1px solid #ccc;
}

select {
  width: 16rem;
  padding: 3px 0;
  text-indent: .25rem;
  border: 1px solid #4c92c2;
  -webkit-border-radius: 0;
          border-radius: 0;
  background: url("../images/dropdownCaret.png") white no-repeat 95% !important; /* !important used for overriding all other customisations */

  -webkit-appearance: none;
}


input[type="submit"] {
  width: inherit;
  padding: .5em 1em;
  color: white;
  border: none;
  border-radius: 2px;
  background-color: #2196f3;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  position: absolute;
}

input[type="number"] {
  text-indent: 1rem;
}

table {
  width: 100% !important;
}

thead tr {
  display: flex;
  width: 100%;
  margin: .25rem 0;
  padding: .5rem;
  color: #9e9e9e;
  border-bottom: 1px solid #e0e0e0;
}

tbody tr {
  display: flex;
  width: 100%;
  margin: .25rem 0;
  padding: .5rem;
  color: #757575;
  background-color: white;
}
