html * {
  box-sizing: border-box;
  font-family: Lato, sans-serif;
}

.container {
  width: 70%;
  max-width: 1100px;
  margin: auto;
}

.gradient, .gradient:hover {
  background: rgba(5,213,255,1);
  background: -moz-linear-gradient(-45deg, rgba(5,213,255,1) 0%, rgba(0,126,229,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(5,213,255,1)), color-stop(100%, rgba(0,126,229,1)));
  background: -webkit-linear-gradient(-45deg, rgba(5,213,255,1) 0%, rgba(0,126,229,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(5,213,255,1) 0%, rgba(0,126,229,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(5,213,255,1) 0%, rgba(0,126,229,1) 100%);
  background: linear-gradient(135deg, rgba(5,213,255,1) 0%, rgba(0,126,229,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05d5ff', endColorstr='#007ee5', GradientType=1 );
}

.gradient:hover {
  box-shadow: 0 3px 2px rgba(0,0,0,0.1);
}

body {
  margin: 0;
  padding: 0;
  color: #666;
  background-color: white;
  background-image: url('../images/bg.svg');
  background-repeat: no-repeat;
  background-size: 100%;
}

a {
  text-decoration: none;
  color: #007ee5;
}

a:hover {
  color: #004ea5;
}

.view-active-trade-button,
.view-active-trade-button:hover {
  color: white;
}

header {
  position: relative;
  min-height: 80px;
  width: 100%;
}

header img.brand {
  width: 100%;
  margin-top: 1rem;
}

.menu {
  margin-top: 1rem;
  text-align: right;
}

.menu,
.menu a {
  color: #eee;
  line-height: 30px;
}

.menu a {
  text-decoration: none;
  display: inline-block;
  margin-left: 2rem;
  margin-right: 2rem;
  border-bottom: 2px solid transparent;
}

.menu a:hover {
  color: white;
  border-bottom: 2px solid white;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
}

.usp {
  font-weight: 100;
  margin-top: 120px;
  color: white;
}

.usp h1 {
  font-weight: 100;
}

.usp span {
  display: block;
}

.ethereum-wallet-id {
  width: 100%;
  padding: 0.2rem;
  text-align: center;
  color: white;
  border: 1px solid #05d5ff;
  font-size: 0.8rem;
  line-height: 2.6rem;
  border-radius: 6px;
}

.ethereum-wallet-id:hover {
  border: 1px solid #007ee5;
  box-shadow: 0 0 10px white;
  cursor: pointer;
}

.check-mark {
  display: block;
  width: 20px;
  margin: auto;
  margin-top: 0.5rem;
}

.ethereum-automte {
  padding: 1px 1rem; /*prevent margin collapse with 1px padding on top*/
  background-color: white;
  height: 100%;
  min-height: 22rem;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  position: relative;
}

.ethereum-automte h3 {
  font-weight: 100;
}

.ethereum-automte span.switcher {
  display: block;
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  font-size: 0.7rem;
}

.ethereum-automte a {
  text-decoration: none;
  color: #007ee5;
}

.ethereum-automte a:hover {
  color: #004ea5;
}

.ethereum-automte .metamask,
.ethereum-automte .signup-form,
.spaced-button {
  margin-top: 1rem;
}

.ethereum-automte .signup-form input,
.ethereum-automte .signup-form select {
  width: 100%;
}

.ethereum-automte footer {
  font-size: 0.8rem;
  line-height: 35px;
  margin-top: 1rem;
}

.conversion-rate {
  margin-top: 2rem;
  color: #eee;
}

.help-link {
  width: 50%;
  margin: auto;
}

.help-link a {
  width: 100%;
  display: inline-block;
  padding: 1rem;
  margin-top: 4rem;
  color: silver;
  font-size: 2rem;
  text-align: center;
  border: 1px solid silver;
  border-radius: 6px;
  text-decoration: none;
}

.help-link a:hover {
  color: #4890e2;
  border-color: #4890e2;
  box-shadow: 0 0 16px #4890e2;
}

footer.page-footer {
  font-size: smaller;
  margin-bottom: 1rem;
}

.copyright {
  color: #ddd;
}

/* button customizations */
button {
  background-color: #2196F3;
  border: none;
  border-radius: 2px;
  color: white;
  padding: .5em 1em;
}

button.right {
  float: right;
}

main[role='main'] section.home {
  margin-bottom: 10rem;
}

.dashboard, .activeTrade {
  background-color: white;
  min-height: 30rem;
  margin-bottom: 0;
}

.tab-listing {
  margin-top: 1rem;
}
.tab-listing table { width: 100%; }

.tab-listing table * { font-size: small; }

.more-button {
  min-width: 8rem;
  display: block;
  margin: 1rem auto;
}

.create-ad-button {
  float: right;
  margin-top: 1rem;
}

p.lead {
  font-size: larger;
  font-weight: lighter;
}

.panel {
  font-size: smaller;
}

.icon {
  /* temporary class used for icon tags just as a
  dev note to include an icon font and use appropriate
  icons at these places in html */
  display: none;
  font-size: 0;
}

.greenDot {
  background-color: #8BC34A;
  border-radius: 50%;
  height: 5px;
  width: 5px;
}

.blackDot {
  background-color: #666;
  border-radius: 50%;
  height: 5px;
  width: 5px;
}

/*form elements*/

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

input {
  border: 1px solid #4C92C2;
  width: 16rem;
  padding: 3px 0;
  text-indent: .25rem;
}

input[type="radio"] {
  width: inherit;
}

input::placeholder, textarea::placeholder {
  font-style: italic;
  font-size: .75rem;
  color: #9B9B9B;
}

textarea {
  border: 1px solid #CCC
}

select {
  border: 1px solid #4C92C2;
  width: 16rem;
  padding: 3px 0;
  text-indent: .25rem;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  background: url("../images/dropdownCaret.png") white no-repeat 95% !important; /* !important used for overriding all other customisations */
}


input[type="submit"] {
  background-color: #2196F3;
  border: none;
  border-radius: 2px;
  color: white;
  padding: .5em 1em;
  width:inherit;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  position: absolute;

}

input[type="number"] {
  text-indent: 1rem;
}
