html * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Lato, sans-serif;
}

.Site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

/*.Site and main (above and below) ensure taht teh footer is always on teh bottom of teh page regardless of teh amount of content*/

.file-input {
  pointer-events: none;
  position: relative;
  overflow: hidden;
  background-image: url('../images/file-plus.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.file-input > * {
  pointer-events: none;
}
.file-input > input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: all;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

code {
  display: block;
  margin: 20px 0 15px 0;
  padding: 10px;
  background: #eee;
}

.container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 45px 20px;
}

.pure-button-primary {
  background-color: #0c1a2b;
}

.pure-button-primary:hover {
  background-color: #233e5e;
}

.pure-form input[type="text"]:focus {
  border-color: #0c1a2b;
}

/* NAVBAR */

.navbar {
  position: fixed;
  padding: 5px;
  background: #0c1a2b;
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

.navbar a {
  color: #fff;
}

.navbar a:active,
.navbar a:focus,
.navbar a:hover {
  background: #233e5e;
}

.navbar .pure-menu-heading {
  font-weight: bold;
  text-transform: none;
}

.navbar .navbar-right {
  float: right;
}

.navbar .uport-logo {
  height: 16px;
  margin-right: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  width: 70%;
  max-width: 1100px;
  margin: auto;
}

body {
  margin: 0;
  padding: 0;
  color: #666;
  background-color: white;
  background-image: url("../images/bg.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

a {
  text-decoration: none;
  color: #007ee5;
}

a:hover {
  color: #004ea5;
}

.view-active-trade-button,
.view-active-trade-button:hover {
  color: white;
}

header {
  position: relative;
  width: 100%;
  min-height: 80px;
}

header img.brand {
  width: 100%;
  margin-top: 1rem;
}

.menu {
  margin-top: 1rem;
  text-align: right;
}

.menu,
.menu a {
  line-height: 30px;
  color: #eee;
}

.menu a {
  display: inline-block;
  margin-right: 2rem;
  margin-left: 2rem;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

.menu a:hover {
  color: white;
  border-bottom: 2px solid white;
}

.menu .brand a:hover {
  border-bottom: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 200;
}

.usp {
  margin-top: 120px;
  font-weight: 100;
  color: white;
}

.usp h1 {
  font-weight: 100;
}

.usp span {
  display: block;
}

.ethereum-wallet-id {
  width: 100%;
  padding: .2rem;
  font-size: .8rem;
  line-height: 2.6rem;
  text-align: center;
  color: white;
  border: 1px solid #05d5ff;
  border-radius: 6px;
}

.ethereum-wallet-id:hover {
  cursor: pointer;
  border: 1px solid #007ee5;
  -webkit-box-shadow: 0 0 10px white;
  box-shadow: 0 0 10px white;
}

.check-mark {
  display: block;
  width: 20px;
  margin: auto;
  margin-top: .5rem;
}

.ethereum-automte {
  position: relative;
  height: 100%;
  min-height: 22rem;
  padding: 1px 1rem; /*prevent margin collapse with 1px padding on top*/
  background-color: white;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.ethereum-automte h3 {
  font-weight: 100;
}

.ethereum-automte span.switcher {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  display: block;
  font-size: .7rem;
}

.ethereum-automte a {
  text-decoration: none;
  color: #007ee5;
}

.ethereum-automte a:hover {
  color: #004ea5;
}

.ethereum-automte .metamask,
.ethereum-automte .signup-form,
.spaced-button {
  margin-top: 1rem;
}

.ethereum-automte .signup-form input,
.ethereum-automte .signup-form select {
  width: 100%;
}

.ethereum-automte footer {
  margin-top: 1rem;
  font-size: .8rem;
  line-height: 35px;
}

.conversion-rate {
  margin-top: 2rem;
  color: #eee;
}

.help-link {
  width: 50%;
  margin: auto;
}

.help-link a {
  display: inline-block;
  width: 100%;
  margin-top: 4rem;
  padding: 1rem;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  color: silver;
  border: 1px solid silver;
  border-radius: 6px;
}

.help-link a:hover {
  color: #4890e2;
  border-color: #4890e2;
  -webkit-box-shadow: 0 0 16px #4890e2;
  box-shadow: 0 0 16px #4890e2;
}

footer.page-footer {
  margin-bottom: 1rem;
  font-size: smaller;
}

.copyright {
  color: #ddd;
}

/* button customizations */
button {
  padding: .5em 1em;
  color: white;
  border: none;
  border-radius: 2px;
  background-color: #2196f3;
}

button.right {
  float: right;
}

/*main[role="main"] section.home {
  margin-bottom: 10rem;
}*/

.dashboard,
.activeTrade {
  min-height: 30rem;
  margin-bottom: 0;
}

.tab-listing {
  margin-top: 1rem;
}
.tab-listing table {
  width: 100%;
}

.tab-listing table * {
  font-size: small;
}

.more-button {
  display: block;
  min-width: 8rem;
  margin: 1rem auto;
}

.create-ad-button {
  float: right;
  margin-top: 1rem;
}

p.lead {
  font-size: larger;
  font-weight: lighter;
}

.panel {
  font-size: smaller;
}

.icon {
  /* temporary class used for icon tags just as a
  dev note to include an icon font and use appropriate
  icons at these places in html */
  display: none;
  font-size: 0;
}

.greenDot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #0ac775;
}

.yellowDot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #ffde37;
}

.orangeDot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #ff6300;
}

.redDot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #d0011b;
}

.bigRedDot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #d0011b;
  position: relative;
  right: 8px;
  bottom: 3px;
}

/*form elements*/

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

input {
  width: 16rem;
  padding: 3px 0;
  text-indent: .25rem;
  border: 1px solid #4c92c2;
}

input[type="radio"] {
  width: inherit;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select {
  font-size: .75rem;
  font-style: italic;
  color: #9b9b9b;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder,
select {
  font-size: .75rem;
  font-style: italic;
  color: #9b9b9b;
}

input::placeholder,
textarea::placeholder,
select {
  font-size: .75rem;
  font-style: italic;
  color: #9b9b9b;
}

textarea {
  border: 1px solid #ccc;
}

select {
  width: 16rem;
  padding: 3px 0;
  text-indent: .25rem;
  border: 1px solid #4c92c2;
  border-radius: 0;
  background: url("../images/dropdownCaret.png") white no-repeat 95% !important; /* !important used for overriding all other customisations */

  -webkit-appearance: none;
}

input[type="submit"] {
  width: inherit;
  padding: .5em 1em;
  color: white;
  border: none;
  border-radius: 2px;
  background-color: #2196f3;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  position: absolute;
}

input[type="number"] {
  text-indent: 1rem;
}

table {
  width: 100% !important;
}

th {
  font-weight: normal;
  font-size: small;
}

thead tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: .25rem 0;
  padding: .5rem;
  color: #9e9e9e;
  border-bottom: 1px solid #e0e0e0;
}

tbody tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: .25rem 0;
  padding: .5rem;
  color: #757575;
  background-color: white;
}

/*css for sharing buttons in src/generic-components/YouAreFirst.js
Contains styles for all buttons, please delete whichever buttos we dont use in teh end */

.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block;
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em;
}

.resp-sharing-button {
  border-radius: 5px;
  -webkit-transition: 25ms ease-out;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top;
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle;
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none;
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9;
}

.resp-sharing-button--pinterest {
  background-color: #bd081c;
}

.resp-sharing-button--pinterest:hover {
  background-color: #8c0615;
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373;
}

.resp-sharing-button--tumblr {
  background-color: #35465c;
}

.resp-sharing-button--tumblr:hover {
  background-color: #222d3c;
}

.resp-sharing-button--reddit {
  background-color: #5f99cf;
}

.resp-sharing-button--reddit:hover {
  background-color: #3a80c1;
}

.resp-sharing-button--google {
  background-color: #dd4b39;
}

.resp-sharing-button--google:hover {
  background-color: #c23321;
}

.resp-sharing-button--linkedin {
  background-color: #0077b5;
}

.resp-sharing-button--linkedin:hover {
  background-color: #046293;
}

.resp-sharing-button--email {
  background-color: #777;
}

.resp-sharing-button--email:hover {
  background-color: #5e5e5e;
}

.resp-sharing-button--xing {
  background-color: #1a7576;
}

.resp-sharing-button--xing:hover {
  background-color: #114c4c;
}

.resp-sharing-button--whatsapp {
  background-color: #25d366;
}

.resp-sharing-button--whatsapp:hover {
  background-color: #1da851;
}

.resp-sharing-button--hackernews {
  background-color: #ff6600;
}
.resp-sharing-button--hackernews:hover,
.resp-sharing-button--hackernews:focus {
  background-color: #fb6200;
}

.resp-sharing-button--vk {
  background-color: #507299;
}

.resp-sharing-button--vk:hover {
  background-color: #43648c;
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--google {
  background-color: #dd4b39;
  border-color: #dd4b39;
}

.resp-sharing-button--google:hover,
.resp-sharing-button--google:active {
  background-color: #c23321;
  border-color: #c23321;
}

.unlock-gif {
  max-height: 100%;
  max-width: 100%;
  border: 1px solid gray;
  border-radius: 6px;
}
