
/*background offwhite colour*/
.bg-smoke {
  background-color: #F5F5F5
}

.bg-white {
  background-color: #FFF
}

.light-gray {
  color: #9E9E9E;
}

.gray {
  color: #757575;
}

.green {
  color: #0AC775;
}
